# Dependency directories
node_modules/

# Transpiled JavaScript output
dist/

# Local environment variables config
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
